/* Container chính của chatbot */
.chatbot-container {
    width: 500px;
    height: 520px;
    border: 5px solid #043873;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    /* float: right; */
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Phần hiển thị các tin nhắn */
  .chatbot-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    word-wrap: break-word; /* Cho phép ngắt từ */
    white-space: normal; /* Đảm bảo văn bản sẽ ngắt dòng */
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Tin nhắn người dùng */
  .message.user {
    align-self: flex-end;
    background-color: #4F76F6;
    color: white;
    padding: 15px 15px;
    border-radius: 20px;
    max-width: 70%;
    word-wrap: break-word; /* Cho phép ngắt từ */
    white-space: normal; /* Đảm bảo văn bản sẽ ngắt dòng */
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Tin nhắn từ bot */
  .message.bot {
    align-self: flex-start;
    background-color: #f1f1f1;
    color: #333;
    padding: 15px 15px;
    border-radius: 20px;
    max-width: 70%;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  /* Phần nhập và gửi tin nhắn */
  .chatbot-input {
    border-radius: 0 0 25px 25px;
    display: flex;
    border-top: 1px solid #CFD7D9;
    padding: 10px;
    background-color: white;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .chatbot-input input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #f1f1f1;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .chatbot-input button {
    padding: 10px 20px;
    background-color: #043873;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 25px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .chatbot-input button:hover {
    background-color: #4F76F6;
  }
  
  .link-servey {
    text-decoration:none;
  }

  .link-servey:hover {
    text-decoration:none;
    color: #9c9c9c;
  }

  .courseChat {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 5px;
  }

  .courseChat h1 {
    font-size: 16px;
    font-weight: normal !important;
    color: #333;
    margin:  0 !important;
  }
  .linkServey a {
    font-size: 16px;
    font-weight: normal !important;
    color: #333;
    margin:  0 !important;
  }
  .course-link{
    text-decoration: none !important;
  }
/* Header của sidebar */
.chatbot-header {
  display: flex;
  justify-content: space-between;
  background-color: #043873;
  border-radius: 15px 15px 0 0;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: #CFD7D9 1px solid;
}

.chatbot-logo {
  width: 180px;
  padding: 0 15px;
  cursor: pointer;
}
  .chatbot-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    color: #CFD7D9; /* Màu xám nhạt */
    transition: transform 0.2s ease; /* Chỉ giữ hiệu ứng phóng to */
  }
  
  .chatbot-close-btn:hover {
    transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
    background: none;
  }
  