.collection-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.read-collection {
    display: flex;
    margin-right: 100px;
    width: 100%;
}

.read-collection__sidebar {
    width: 400px;
    border-right: 1px solid #ccc;
    padding-right: 15px;
    font-size: 24px;
}

.read-collection__content {
    flex-grow: 1;
    margin-left: 100px;
    max-width: 1440px;
}

.read-collection__loading {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}

.read-collection__module {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.read-collection__module-header {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 3px 15px;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
}

.read-collection__arrow {
    transition: transform 0.3s;
}

.read-collection__arrow.expanded {
    transform: rotate(90deg);
}

.read-collection__collection {
    padding: 10px 15px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

.read-collection__collection:hover {
    text-decoration: underline;
}

.read-collection__no-collection {
    padding: 10px;
    color: #999;
}

.read-collection__item {
    margin-bottom: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.read-collection__title {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.read-collection__image,
.read-collection__video {
    max-width: 100%;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    margin-bottom: 15px;
}

.read-collection__text {
    margin: 10px 0;
    font-size: 16px;
    color: black;
    text-align: left;
    width: 100%;
    white-space: pre-wrap;
    font-family: inherit;
}

.read-collection__question {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background-color: #fff;
    text-align: left;
}

.read-collection__answer {
    margin: 5px 0;
}

.read-collection__answer input {
    margin-right: 8px;
}
