/* Tổng thể layout */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #043873; /* Màu xanh đậm */
  color: white;
  padding: 0.5% 5%;
  position: fixed; /* Đặt header cố định */
  top: 0; /* Cố định ở đầu trang */
  left: 0;
  width: 100%; /* Chiều rộng toàn trang */
  z-index: 800; /* Đảm bảo header nằm trên các thành phần khác */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo bóng cho header */
}


/* Navbar Left */
.navbar-left {
  width: 20%;
  display: flex;
  align-items: center; /* Thẳng hàng theo chiều dọc */
  gap: 12%;
}

/* Logo */
.home-logo img {
  width: 180px;
  height: auto;
}

/* Menu Icon */
.menu-icon img {
  width: 32px;
  height: auto;
  cursor: pointer;
}

/* Search Bar */
.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;
}

.searchbar-container {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc; /* Tùy chỉnh border nếu cần */
  border-radius: 5px;
  background-color: #fff; /* Màu nền của container */
  padding: 5px; /* Padding bên trong */
}

.searchbar-icon-container {
  flex: 0 0 10%; /* Chiếm 15% chiều rộng của container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-icon {
  width: 20px; /* Kích thước của icon */
  height: 20px; /* Kích thước của icon */
}

.searchbar-input-container {
  flex: 0 0 75%; /* Chiếm 75% chiều rộng của container */
}

.searchbar-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 5px; /* Tùy chỉnh padding */
}

/* Chatbot Modal */
.chatbot-modal {
  position: fixed;
  bottom: 2%; /* Cách cạnh dưới màn hình */
  right: 2%; /* Cách cạnh trái màn hình */
  width: auto; /* Đặt chiều rộng cố định cho modal */
  max-height: auto; /* Giới hạn chiều cao */
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px; /* Bo góc cho modal */
  padding: 15px;
  z-index: 1000;
  overflow-y: auto; /* Cuộn khi nội dung vượt quá chiều cao */

}

/* User Tools */
.user-tools {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap:20%;
}
.auth-link{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
/* Auth Links */
.auth-link a {
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  /* Độ đậm của chữ */
  text-transform: uppercase;
  /* Chuyển chữ thành in hoa */
  padding: 4px 20px;

}

.auth-link .signin {
  color: #77F2A1; /* Màu xanh lá cho Đăng nhập */
  border-right: #ffffff 3px solid;
}

.auth-link .signup {
  color: #4F76F6; /* Màu xanh dương cho Đăng ký */
}
.auth-link a:hover{
  color: #ffffff;
}
/* User Icons */
.user-image img{
  width: 35px;
  height: auto;
  cursor: pointer;
}
.notification-icon img{
  width: 30px;
  height: auto;
  cursor: pointer;  
}
.chatbot-btn img{
  width: 40px;
  height: auto;
  cursor: pointer;  
}
/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 30%; /* Sidebar chiếm 30% màn hình */
  max-width: 400px; /* Giới hạn chiều rộng tối đa */
  background-color: #ffffff;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  padding: 20px;
  transform: translateX(-100%); /* Ẩn sidebar khi không được mở */
  transition: transform 0.3s ease-in-out;
  border-radius: 15px 0 0 15px; /* Bo góc bên trái */
  border: 1px solid #CFD7D9; /* Viền ngoài màu xám nhạt */
}

/* Hiển thị sidebar */
.sidebar.open {
  transform: translateX(0); /* Hiển thị sidebar */
}

/* Header của sidebar */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sidebar-logo {
  width: 200px;
  padding: 0 15px;
  cursor: pointer;
}

/* Nút đóng Sidebar */
.close-sidebar-btn {
  font-size: 40px;
  background: none;
  border: none;
  cursor: pointer;
  color: #CFD7D9; /* Màu xám nhạt */
  transition: transform 0.2s ease; /* Chỉ giữ hiệu ứng phóng to */
}

.close-sidebar-btn:hover {
  transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
  background: none;
}

/* Danh sách điều hướng trong sidebar */
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #043873;
  padding: 15px 20px;
  border-radius: 10px;
}

.sidebar-nav li img {
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

.sidebar-nav li a {
  text-decoration: none;
  color: #043873;
  transition: color 0.3s;
}

.sidebar-nav li:hover {
  background-color: #CFD7D9;
}

/* Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Lớp phủ mờ */
  z-index: 800;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Hiển thị backdrop */
.backdrop.show {
  opacity: 1;
  visibility: visible;
}

/* Main content */
.main-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px; /* Đẩy nội dung xuống 80px (cao tương ứng với header) */
}


/* Footer */
  
  /* Phần chân trang (footer) */
  footer.footer {
    background-color: #043873;
    /* Màu nền của footer */
    color: white;
    /* Màu chữ */
    text-align: center;
    width: 100%;
    position: relative;
  }
  
  /* Bố cục trong footer */
  .footer_container {
    background-color: #043873;
    /* Màu nền footer */
    color: #fff;
    /* Màu chữ */
    display: flex;
    justify-content: space-between;
    /* Canh giữa các phần tử trong footer */
  }
  
  /* Thông tin logo và liên hệ trong footer */
  .logo-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Căn trái các phần tử */
  }
  
  .logo-info ul {
    list-style-type: none;
    margin-top: 0;
  }
  
  .logo-info li {
    display: flex;
    align-items: center;
  }
  
  .logo-info li img {
    margin: 0 15px;
  }
  
  .logo img {
    height: 60px;
    padding-left: 50px;
    padding-top: 15px;
  }
  
  /* Liên kết điều hướng và mạng xã hội trong footer */
  .nav-links,
  .social-media {
    text-align: left;
  }
  
  .nav-links p,
  .social-media p {
    margin-bottom: 10px;
  }
  
  .nav-links ul{
    list-style: none;
    padding: 10px 0;
  }

  .social-media ul {
    list-style: none;
    padding: 20px 0;
  }
  
  .nav-links li,
  .social-media li {
    margin-bottom: 15px;
  }
  
  .nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    /* Bỏ gạch chân */
  }
  
  .nav-links a:hover {
    color: #77F2A1;
    /* Đổi màu chữ khi hover */
  }
  
  .nav-links,
  .social-media h3 {
    margin-top: 15px;
  }
  
  .social-media {
    padding-right: 15px;
    padding-top: 20px;
    padding-right: 50px;
  }
  
  .social-media ul {
    display: flex;
    /* Hiển thị các icon mạng xã hội theo hàng ngang */
  }
  
  .social-media li {
    margin-right: 10px;
  }
  
  .social-media img {
    padding: 5px;
    width: 40px;
    height: 40px;
  }
  
  /* Phần bản quyền trong footer */
  .copyright {
    text-align: center;
    padding: 10px;
    background-color: #043873;
    color: white;
  }


.pushup-chatbot-container {
  position: fixed;
  bottom: 20px; 
  left: 20px;
  z-index: 1000; 
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

/* Nút toggle Chatbot */
.chatbot-toggle-btn {
  background-color: #043873; /* Màu nền cho nút */
  color: #fff; /* Màu chữ */
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.chatbot-toggle-btn:hover {
  background-color: #CFD7D9;
}

/* Kích thước Chatbot */
.pushup-chatbot-container .Chatbot {
  width: 300px; /* Điều chỉnh kích thước theo ý muốn */
  height: 400px; /* Điều chỉnh kích thước theo ý muốn */
  margin-bottom: 10px; /* Khoảng cách giữa Chatbot và nút */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff; /* Nền cho Chatbot */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Hiệu ứng hiển thị Chatbot */
.pushup-chatbot-container .Chatbot {
  opacity: 1;
  visibility: visible;
}

.pushup-chatbot-container .Chatbot.hidden {
  opacity: 0;
  visibility: hidden;
}

.chatbot-toggle-icon {
  width: 38px; /* Kích thước ảnh */
  height: 38px;
}
