.feedback-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EAF2FF;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: none;
    gap: 10%; /* Khoảng cách giữa feedback-left và feedback-right */
    padding-left: 15%; /* Cách lề trái */
    padding-right: 15%; /* Cách lề phải */
}

.feedback-left {
    width: 40%; /* Chiếm 40% */
}

.feedback-left img {
    max-width: 100%;
    height: auto;
    display: block;
}

.feedback-right {
    width: 40%; /* Chiếm 40% */
    color: #1A202C;

}

.feedback-right h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1.5rem;
    line-height: 1.2;
    color: #043873;
    text-align: left;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.feedback-form-group input, 
.feedback-form-group button {
    width: 100%; /* Đảm bảo cả input và button cùng chiều rộng */
}

.feedback-form-group input {
    padding: 0.75rem;
    border: 1px solid #CBD5E0;
    border-radius: 5px;
    font-size: 20px;
    color: #2D3748;
    outline: none;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
}

.feedback-form-group input:focus {
    border-color: #4F76F6;
    box-shadow: 0 0 0 3px rgba(49, 130, 206, 0.2);
}

.feedback-form-group button {
    padding: 0.75rem; /* Đồng nhất padding với input */
    background-color: #043873;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Đảm bảo padding không làm tăng kích thước */
}

.feedback-form-group button:hover {
    background-color: #4F76F6;
}


.feedback-success {
    margin-top: 1rem;
    color: #043873;
    font-size: 1rem;
}

.error-message {
    margin-top: 1rem;
    color: #E53E3E;
    font-size: 1rem;
}
