.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 10px; 
    margin-right: 300px;
    border-radius: 10px;
    padding: 20px; 
}

.login-box {
    width: 400px; /* Adjust width if needed */
    padding: 20px;
    
}

.Header-Nav-Carrer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1300px;
    gap: 10px;
  
}

.Tieude {
    color: var(--grey-900, #0F172A);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 130%;
 
}

.SignIn-form-group {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 6px;
   
}

.label1 {
    color: var(--grey-900, #0F172A);
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
}

.inputtext12 {
    width: 500px;
    height: 59px;
    border-radius: 10px;
    border: 1px solid #CFD7D9;
    background: #FFF;
    font-size: 20px;
}


.forgot-password {
    color: #4F76F6;
    font-family: Inter, sans-serif;
    font-size: 18px;
  
}

.login-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 10px 24px;
    border-radius: 8px;
    background: var(--grey-text-dark, #020617);
    color: #FFF;
    margin-top: 20px;
}

.signup-link {
    margin-top: 20px;
    text-align: center;
   
}

.signup-link span, .signup-link .signup {
    color: var(--grey-900, #0F172A);
    font-size: 18px;
}

.form-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.picture-side {
    max-width: 460px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}
.picture-side img {
    width: 100%; /* Adjusts the image to fit the container */
    height: auto;
    border-radius: 10px; /* Optional: Rounded corners */
    margin-left: 700px;
}
@media (max-width: 768px) {
    .login-container {
        flex-direction: column; /* Stacks form and image vertically on smaller screens */
    }
    .login-box, .picture-side {
        width: 100%;
        max-width: 90%; /* Keeps both sections within screen limits */
    }
}
