.frame .text-wrapper-3 {
    color: #0F172A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    left: 24px;
    line-height: 160%;
    position: absolute;
    top: 81px;
    white-space: nowrap;
}

.frame .div {
    color: rgba(15, 23, 42, 1);
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    left: 24px;
    line-height: 160%;
    position: absolute;
    top: 23px;
    white-space: nowrap;
}

.frame .overlap-group {
    background-color: rgba(255, 255, 255, 1);
    border: 0.62px solid;
    border-color: rgba(226, 232, 240, 1);
    border-radius: 16px;
    height: 255px;
    left: 24px;
    position: absolute;
    top: 59px;
    width: 425px;
}

.frame .image {
    align-items: center;
    background-image: url(.client\public\img\prf-inf.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    gap: 11.15px;
    height: 223px;
    justify-content: center;
    left: 15px;
    padding: 8.92px;
    position: relative;
    top: 15px;
    width: 392.48px;
}

.frame .icon-instance {
    height: 44.6px !important;
    position: relative !important;
    width: 44.6px !important;
}

.frame .frontend-input-form {
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: rgba(226, 232, 240, 1);
    border-radius: 8px;
    display: flex;
    gap: 8px;
    left: 24px;
    padding: 16px;
    position: absolute;
    top: 390px;
    width: 599px;
}

.frame .text-wrapper-2 {
    color: rgba(148, 163, 184, 1);
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    margin-top: -1.00px;
    position: relative;
    width: 531px;
}

.frame .button {
    all: unset;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid;
    border-color: rgba(15, 23, 42, 1);
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 58px;
    justify-content: center;
    left: 639px;
    padding: 10px 24px;
    position: absolute;
    top: 390px;
}

.frame .label {
    color: rgba(15, 23, 42, 1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .label-wrapper {
    all: unset;
    align-items: center;
    background-color: rgba(15, 23, 42, 1);
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 48px;
    justify-content: center;
    left: 24px;
    padding: 10px 24px;
    position: absolute;
    top: 464px;
}

.frame .label-2 {
    color: rgba(255, 255, 255, 1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame {
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 16px;
    height: 792px;
    overflow: hidden;
    position: relative;
    width: 950px;
}

.frame .text-wrapper {
    color: #0F172A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    left: 24px;
    line-height: 160%;
    position: absolute;
    top: 23px;
    white-space: nowrap;
}

.frame .group {
    background-color: #FFFFFF;
    border: 1px solid #E2E8F0;
    border-radius: 8px;
    height: 58px;
    left: 24px;
    position: absolute;
    top: 711px;
    width: 902px;
}

.frame .div {
    height: 57px;
    left: 313px;
    position: relative;
    width: 319px;
}

.frame .img {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    width: 96px;
}

.frame .p {
    color: #94A3B8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    left: 96px;
    line-height: 160%;
    position: absolute;
    top: 14px;
    white-space: nowrap;
}

.frame .text-wrapper-2 {
    color: #0F172A;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    left: 24px;
    line-height: 160%;
    position: absolute;
    top: 412px;
    white-space: nowrap;
}

.frame .text-wrapper-4 {
    color: #94A3B8;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    width: 531px;
}

.frame .image {
    align-items: center;
    background-image: url(.client\public\img\prf-inf.png);
    background-position: center;
    background-size: cover;
    border-radius: 8px;
    display: flex;
    height: 223px;
    justify-content: center;
    left: 40px;
    padding: 8.92px;
    position: absolute;
    top: 133px;
    width: 392.48px;
}

.frame .icon-instance {
    height: 44.6px !important;
    width: 44.6px !important;
}

.frame .button {
    all: unset;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #0F172A;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 58px;
    justify-content: center;
    left: 639px;
    padding: 10px 24px;
    position: absolute;
    top: 448px;
}

.frame .label {
    color: #0F172A;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.frame .label-wrapper {
    all: unset;
    align-items: center;
    background-color: #0F172A;
    border-radius: 8px;
    box-sizing: border-box;
    display: inline-flex;
    gap: 6px;
    height: 48px;
    justify-content: center;
    left: 24px;
    padding: 10px 24px;
    position: absolute;
    top: 522px;
}

.frame .label-2 {
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.button {
    align-items: center;
    background-color: rgba(2, 6, 23, 1);
    border-radius: 8px;
    display: inline-flex;
    gap: 6px;
    height: 48px;
    justify-content: center;
    padding: 10px 24px;
    position: relative;
}

.button .label {
    color: rgba(255, 255, 255, 1);
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    position: relative;
    white-space: nowrap;
    width: fit-content;
}

.button .icon-arrow-narrow {
    height: 24px !important;
    position: relative !important;
    width: 24px !important;
}
