.manage-student-report-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.manage-student-report-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.manage-student-report-user {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 500px;
}

.manage-student-report-user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.manage-student-report-user-info {
    flex: 1;
}

.manage-student-report-user-name span {
    font-weight: bold;
    font-size: 18px;
}

.manage-student-report-table table {
    width: 100%;
    border-collapse: collapse;
}

.manage-student-report-table th,
.manage-student-report-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.manage-student-report-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}
