.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f7fb;
}

.form-container {
  display: flex;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  width: 100%;
}

.left-section {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-image {
  max-width: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.right-section {
  flex: 1;
  padding: 40px;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group input {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.terms-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.terms-group label {
  margin-left: 10px;
}

.terms-group a {
  color: #007bff;
  text-decoration: none;
}

.submit-button {
  padding: 12px;
  width: 100%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}

.divider {
  text-align: center;
  margin: 20px 0;
  position: relative;
}

.divider span {
  background-color: #fff;
  padding: 0 10px;
  position: relative;
  z-index: 1;
}

.divider:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  top: 50%;
  left: 0;
  z-index: 0;
}

.social-login {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-btn {
  padding: 12px;
  width: 30%;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.facebook {
  background-color: transparent;
  color: white;
  text-align: center;
  color: blue;
}

.google {
  background-color: transparent;
  color: white;
  text-align: center;
  color: red;
}

.microsoft {
  background-color: transparent;
  color: white;
  text-align: center;
  color: black;
}

.login-link {
  text-align: center;
}

.login-link a {
  color: #007bff;
  text-decoration: none;
}
.custom-logo {
  width: 22%; /* Kích thước của logo */
  height: auto;
  max-height: 50px; /* Điều chỉnh chiều cao tối đa */
}
.user-type {
  width: 100%;
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px;
}
 .note-section {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  text-align: left;
}

.note-title {
  font-size: 18px;
  color: #007bff; /* Màu xanh nước biển cho tiêu đề */
  margin-bottom: 10px;
}

.note-section p {
  font-size: 16px; /* Tăng kích thước chữ */
  color: #666;
  margin-bottom: 5px;
  line-height: 1.5;
}