.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar,
.footer {
    background-color: #043873;
    color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    flex-wrap: wrap;
}

.home-logo {
    flex-shrink: 0;
}

.home-logo img {
    width: 200px;
    height: auto;
}

.main-content {
    flex: 1;
}

.nav-list {
    display: flex;
    gap: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
    flex: 1;
    justify-content: center;
}

.nav-list li {
    white-space: nowrap;
}

.auth-links {
    display: flex;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
}

.auth-links a {
    white-space: nowrap;
}

.nav-list li a,
.auth-links a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    overflow: hidden;
}

.nav-list li a::after,
.auth-links a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: rgb(9, 255, 0);
    transition: width 0.3s ease, left 0.3s ease;
}

.nav-list li a:hover::after,
.auth-links a:hover::after {
    width: 100%;
    left: 0;
}

.nav-list li a:hover,
.auth-links a:hover {
    color: rgb(9, 255, 0);
}

.user-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 3px solid green;
    border-radius: 50%;
    overflow: hidden;
}

.user-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dropdown-menu {
    position: absolute;
    top: 70px;
    right: 10px;
    background: linear-gradient(145deg, #f9f9f9, #e6e6e6);
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    width: 180px;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown-menu.show {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-menu li {
    padding: 10px
}

.dropdown-menu li a {
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
}

.dropdown-menu li:hover {
    background-color: #f0f0f0;
}


.footer {
    text-align: center;
}

@media (max-width: 1700px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .home-logo {
        margin-bottom: 10px;
    }

    .nav-list {
        justify-content: center;
        width: 100%;
    }

    .auth-links {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .home-logo img {
        width: 200px;
    }

    .nav-list li a,
    .auth-links a {
        font-size: 18px;
    }
}

@media (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .home-logo {
        margin-bottom: 10px;
    }

    .nav-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 10px;
        padding: 0;
    }

    .auth-links {
        margin-top: 10px;
        width: 100%;
        justify-content: center;
    }

    .home-logo img {
        width: 200px;
    }

    .nav-list li a,
    .auth-links a {
        font-size: 18px;
        text-align: center;
    }
}